$basefont       : 14px/120% "Helvetica Neue", Helvetica, Arial, sans-serif;
$basecolor     	: #143;
$bordercolor	: lighten($basecolor, 50%);
$headingcolor	: darken($basecolor, 50%);
$headingbgcolor	: darken($basecolor, 100%);