<div id="bookmarks" class="tab-pane fade panel-group">
  <div class="snippets_list page-header">
    <h3>Usefull reference links for HTML emails</h3>
  </div>
  <ul>
    
<li><a href="http://203.200.36.183/ETHTMLCheckR/index.html/#" target="_blank">HTML checker from theorem</a></li>
<li><a href="https://www.diffchecker.com/" target="_blank">Diff Checker</a></li>
    <li><a href="https://backgrounds.cm/" target="_blank">Bulletproof background images to HTML Emails from Campaign Monitor</a></li>
    <li><a href="https://buttons.cm/" target="_blank">Bulletproof email buttons for HTML Emails from Campaign Monitor</a></li>
    <li><a href="http://regexr.com/" target="_blank">For regular expressions</a></li>
    <li><a href="http://www.amp-what.com/" target="_blank">HTML codes for special characters & symbols</a></li>
    <li><a href="http://r12a.github.io/apps/conversion/" target="_blank">All in one Unicode convertors</a></li>
    <li><a href="http://www.lexilogos.com/keyboard/polish.htm" target="_blank">Online Multilingual keyboard</a></li>
	<li><a href="https://www.emailonacid.com/" target="_blank">All in one place for All kind Email troubleshootings</a></li>
<li><a href="https://litmus.com/blog/16-tips-troubleshooting-html-email/code-therapy-troubleshooting" target="_blank">Code Therapy: Troubleshooting HTML Email from Litmus</a></li>
<li><a href="https://litmus.com/community/learning/8-outlook-overview" target="_blank">MS Outlook Overview from Litmus</a></li>
<li><a href="https://www.campaignmonitor.com/dev-resources/" target="_blank">Tools for coding HTML emails from Campaignmonitor</a></li>
<li><a href="http://spamassassin.apache.org/" target="_blank">Open-Source Spam Filter</a></li>


  </ul>
</div>
