              <div id="issuesNsolutions" class="tab-pane fade in active">
                <div class="solutions-list page-header">
                  <h3>HTML Email Rendering Issues list with fixes</h3>
                  <form class="has-feedback" method="get" action="/search" id="search">
                    <input name="q" type="text" size="20" placeholder="Search..." style="outline:none;" class="form-control" />
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </form>
                </div>
                <div class="panel-group highlight" id="search_datas" style="display: none;">
                  
                </div>
                <div class="panel-group" id="dynamic_datas">
                  <!-- Emergency contacts templates -->
                  <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#dynamic_datas" href="#collapse1">
                      <div class="panel-heading">
                        <h4 class="panel-title">Dynamic Solutions list goes</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>