    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>HTML Email Solutuions</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"> 
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/ScrollMagic.min.js"></script>
    <script src="assets/js/plugins/debug.addIndicators.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>    
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
<!-- @if devBuild="development" -->
<!-- @endif -->
<!-- @if devBuild="production" -->
<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>ILuv Mysuru | Main</title>
<link href="assets/css/style.css" rel="stylesheet">
<script src="assets/js/main.js"></script> -->
<!-- @endif -->
