<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#snippets" href="#regexes">
    <div class="panel-heading">
    <h4 class="panel-title">Useful Regular Expressions</h4> </div>
  </a>
  <div id="regexes" class="panel-collapse collapse">
    <div class="panel-body">
      <h3 class="text-center">Useful Regular Expressions</h3>
      <div>
        <ol>
          <li>
            <h5>Regular expressions to find all <strong>%LINK_ID</strong> in HTML creative</h5>
            <code>%link_id=([^\s]*\d{8,})</code>
          </li>
          <li>
            <h5>To grap any <strong>specific html tag</strong> with closing tag from HTML</h5>
            <p>
              <code><span><</span>%TAG%\b[^<span>></span>]*<span>></span>(.*?)|<span><</span>\/%TAG%<span>></span></code>
            </p>
            <p>Here replace <code>%TAG%</code> with the tag which needs to be match.</p>
          </li>
          <li>
            <h5>To find all <strong>href values</strong> in HTML</h5>
            <p>
              <code>href="([^"]*")</code>
            </p>
          </li>
          <li>
            <h5>Regular expressions to find all <strong>empty attributes</strong> in HTML creative</h5>
            <code>\w+=""|\w+="\s{1,}"</code>
          </li>
          <li>
            <h5>Regular expressions to find all <strong>empty tags except <code><span><</span>td<span>></span><span><</span>/td<span>></span></code></strong> in HTML creative</h5>
            <code><([A-Z][A-Z0-9]*)\b[^td>]*>\s*<\/\1></code>
          </li>
<li>
            <h5>Regular expressions to find all <strong>all MS Outolook conditional codes</strong> in HTML creative</h5>
            <code><span><</span>!--\[if[^<span>></span>]*<span>></span>.*<span><</span>!\[endif\]--<span>></span></code>
          </li>

          <li>
            <h5>Regular expressions to find all <strong>title / class / id / alt texts</strong> in HTML creative</h5>
            <code>title="([^"]*")</code>, <code>class="([^"]*")</code>, <code>id="([^"]*")</code>, <code>alt="([^"]*")</code><br>
            or All at once <br>
            <code>class="?([^"])*"|<span><</span>tbody\b[^<span>></span>]*<span>></span>(.*?)|<span><</span>\/tbody<span>></span>|title="([^"]*")|id="?([^"])*"|<span><</span>!--.*?--<span>></span>|\w+=""|\w+="\s{1,}"</code>
           
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>