  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#snippets" href="#regexes">
      <div class="panel-heading">
        <h4 class="panel-title">Useful Regular Expressions</h4> </div>
    </a>
    <div id="regexes" class="panel-collapse collapse">
      <div class="panel-body">
        <h3 class="text-center">Useful Regular Expressions</h3>
        <div>
          <ol>
            <li>
              <h5>Regular expressions to find all <strong>%LINK_ID</strong> in HTML creative</h5>
              <code>\s?%link_id=([^\s]*\d{8,})[\s]?</code>
            </li>
          </ol>

        </div>
      </div>
    </div>
  </div>