  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#snippets" href="#snippet05">
      <div class="panel-heading">
        <h4 class="panel-title">Outlook 2010-2013 Targeting</h4> </div>
    </a>
    <div id="snippet05" class="panel-collapse collapse">
      <div class="panel-body">
        <h3 class="text-center">Outlook 2010-2013 Targeting</h3>
        <div>
          <p>
            <pre class="bg-info"><code><span class="tags"><</span>!--[if gte mso 14]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span>

<span class="tags"><</span>!--[if gt mso 12]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span></code></pre>
          </p>
          <p class="">Check the Original resource from Litmus <a href="https://litmus.com/community/snippets/70-outlook-2010-2013-targeting" target="_blank"><strong>here</strong></a>
</p>
        </div>
      </div>
    </div>
  </div>