  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#snippets" href="#snippet04">
      <div class="panel-heading">
        <h4 class="panel-title">Outlook 2000-2010 Targeting</h4> </div>
    </a>
    <div id="snippet04" class="panel-collapse collapse">
      <div class="panel-body">
        <h3 class="text-center">Outlook 2000-2010 Targeting</h3>
        <div>
          <p>
            <pre class="bg-info"><code><span class="tags"><</span>!--[if lte mso 14]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span>

<span class="tags"><</span>!--[if lt mso 15]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span></code></pre>
          </p>
        </div>
        <div class="panel-body">
        <p class="text-center">reffered by  <span><</span>a href="https://litmus.com/community/snippets" target="_blank"<span>></span>https://litmus.com/community/snippets<span><</span>/a<span>></span>
</p></div>
      </div>
    </div>
  </div>