  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#snippets" href="#snippet01">
      <div class="panel-heading">
        <h4 class="panel-title">Gmail Webmail Targeting</h4> </div>
    </a>
    <div id="snippet01" class="panel-collapse collapse">
      <div class="panel-body">
        <h3 class="text-center">Gmail Webmail Targeting</h3>
        <div>
          <p>
            <pre class="bg-info"><code><span class="tags"><</span>!DOCTYPE html<span class="tags">></span>
<span class="tags"><</span>html lang="en"<span class="tags">></span>
<span class="tags"><</span>head<span class="tags">></span>
<span class="tags"><</span>style<span class="tags">></span>
u + .body .gmail{
display:block !important;
}
<span class="tags"><</span>/style<span class="tags">></span>
<span class="tags"><</span>/head<span class="tags">></span>
<span class="tags"><</span>body class="body"<span class="tags">></span>
<span class="tags"><</span>div class="gmail" style="display:none;"<span class="tags">></span>THIS IS GMAIL<span class="tags"><</span>/div<span class="tags">></span>
<span class="tags"><</span>/body<span class="tags">></span>
<span class="tags"><</span>/html<span class="tags">></span></code></pre>
          </p>
        </div>
      </div>
    </div>
  </div>