  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#snippets" href="#snippet04">
      <div class="panel-heading">
        <h4 class="panel-title">Outlook 2000-2010 Targeting</h4> </div>
    </a>
    <div id="snippet04" class="panel-collapse collapse">
      <div class="panel-body">
        <h3 class="text-center">Outlook 2000-2010 Targeting</h3>
        <div>
          <p>
            <pre class="bg-info"><code><span class="tags"><</span>!--[if lte mso 14]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span>

<span class="tags"><</span>!--[if lt mso 15]<span class="tags">></span>
  {content}
<span class="tags"><</span>![endif]--<span class="tags">></span></code></pre>
          </p>
           <p class="">Check the Original resource from Litmus <a href="https://litmus.com/community/snippets/62-outlook-2000-2010-targeting" target="_blank"><strong>here</strong></a>
</p>
        </div>
       
      </div>
    </div>
  </div>