//Compass imports
// @import "customizedBootstrap";
@import "bootstrap";
 
//Core partials
@import "partials/variables";
@import "partials/base";
@import "partials/mixins";
@import "partials/mediaqueries";


// Override Bootstrap's Button and Form-control 

.text-upper {
	text-transform:uppercase;
}
// custom font colors
h1, h2, h3, h4, h5, h6 {
	color:$headingcolor;
}
h1, .h1, h2, .h2, h3, .h3 {
	
}

a {
	color:$basecolor;
}

a:hover, a:visited, a:focus, a:active {
/* 	color:$headingcolor; */
	text-decoration:none;
}
.codepen-url a {
	font-weight:bold;
}

a.btn {
	text-decoration:none;
}
s {
	color:$bordercolor;
}

// custom font colors ends

/* .page-title {
	font-size:5vw;
} */

[id*=collapse] > div > h3, [id*=snippet] > div.panel-body > h3, .codepen-url {
	padding: 6px;
    border-radius: 5px;
}
[id*=collapse] > div > h3, [id*=snippet] > div.panel-body > h3 {
    background: mix(#4388ce, $basecolor, 50%);
    color:tint($basecolor, 0100%);
}
.codepen-url {
    background: $bordercolor;
}
#contentsNav {
	margin-top: 1em;
}
.panel-heading, #contentsNav li a { 
background:tint($basecolor, 90%) ;
}
.panel-heading:hover, #contentsNav li a:hover {
background:tint($basecolor, 40%);
color:tint($basecolor, 100%);
transition:all 0.2s;	
}
#contentsNav li.active a { 
background: mix(#114B73, $basecolor, 50%);
}
img.visible-xs {
	margin:0 auto !important;
}

.highlight {
	padding: 9px 14px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.code-highlight {
	background:yellow;
}
.page-title {
	background-color: tint($basecolor, 70%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: $headingcolor 3px 5px 5px;
    text-shadow:0px 1px tint($basecolor, 100%);
}

.scrollup {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    display: none;
}
.scrollup img {
	height:35px;
}
textarea {
	border:none; 
	display:flex;
	width:100%;
	overflow: visible;
/* 	resize: none; */
/* 	min-height:6em; */
	outline:none;
}

textarea.bg-success{
	border:2px solid green !important;
}
textarea.bg-danger{
	border:2px solid red !important;
}

#dynamic_datas{
	margin:15px 0 15px 0;
}
.solutions-list, .snippets_list {
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.solutions-list h3, .snippets_list h3 {
	margin:15px 0;
}
