//Compass imports
@import "customizedBootstrap";
 
//Core partials
@import "partials/variables";
@import "partials/base";
@import "partials/mixins";
@import "partials/mediaqueries";


// Override Bootstrap's Button and Form-control 
.btn, .form-control {
	border-radius:0px !important;
}

.text-upper {
	text-transform:uppercase;
}
// custom font colors
h1, h2, h3, h4, h5, h6 {
	color:$headingcolor;
}

a {
	color:$basecolor;
}

a:hover, a:visited, a:focus, a:active {
	color:$headingcolor;
	text-decoration:none;
}

a.btn {
	text-decoration:none;
}
s {
	color:$bordercolor;
}

// custom font colors ends

/* .page-title {
	font-size:5vw;
} */

[id*=collapse] > div > h3, .codepen-url {
	padding: 6px;
    background: $bordercolor;
    border-radius: 5px;
}
.panel-heading { 
background:whitesmoke;
}
.panel-heading:hover {
background:darkgrey;
color:#ffffff;
transition:all .5s;	
}

img.visible-xs {
	margin:0 auto !important;
}
